@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

.whole_page{
    display: flex;
    height: 100%;
    margin-left: 6vw;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 2em;
    font-family: 'Comic Neue';}

.some_text p{
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(64, 60, 60);
}

h1 span{
    color: orangered;
}

.container{
    margin-left: 7vw;
    width: 22%;
}

.head{
    background-color: orangered;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
}

.footer_of_head > *{
    display: inline;
}

.footer_of_head a{
    float: right;
    color: white;
}

.body{
    background: white;
    border-radius: 0px 0px 20px 20px;
    padding: 30px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.segment{
    margin: 10px 0px
}

.segment > * {
    margin: 10px 0px;
    padding: 3px;
}

.segment input{
    width: 100%;
}

.submit input{
    text-align: center;
    width: 100%;
    border: 2px solid orangered;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 10px;
}

.submit input:active{
    text-decoration: underline;
    border: 2px solid cyan;
}